:root   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display:flex;
    justify-content: center;
}

.calcBody {
display:flex;
flex-direction: column;
width: 25vw;
height: 50vh;
border-radius: 2%;

}

.display{
background-color: white;
text-align: end;
font-size: 150%;
border: 1px solid black;
margin:5px;
}

.bottom{
display: flex;
flex-grow: 1;
}

.bottomLeft{
display: flex;
flex-direction: column;
flex-grow: 1;
}

.bottomLeftTop{
display: flex;

}

.clearButton{
    flex-grow:1;
    margin:5px;
}

.bottomLeftBottom{
display:flex;
flex-direction: column;
flex-grow: 1;
}

.numberRow{
    display: flex;
    flex-grow: 1;
}

.numberButton{
    flex-grow: 1;
    margin:5px;
    font-size: large;
}

.bottomRight{
    display:flex;
    flex-direction: column;
}

.mathButton{
    display:flex;
    flex-grow:1;
    margin:5px;
}

.solveButton{
    display:flex;
    flex-grow: 2;
}