*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}
body {
    display:flex;
    justify-content: center;
    
    
}

button{
    border-radius: 5%;
}

.calcBody {
    margin-top: 50px;
display:flex;
flex-direction: column;
width: 25vw;
height: 50vh;
border-radius: 2%;
border: 1px solid black;
padding:5px;
background-color: hsla(111, 63%, 16%, 1)

}

.display{
background-color: rgb(207, 196, 130);
text-align: end;
font-size: 150%;
border: 1px solid black;
margin:5px;
padding-right:3px;

}

.bottom{
display: flex;
flex-grow: 1;
}

.bottomLeft{
display: flex;
flex-direction: column;
flex-grow: 1;
}

.bottomLeftTop{
display: flex;

}

.clearButton{
    flex-grow:1;
    margin:1px;
    min-height: 30px;
   
}
#negative, #percentage{
font-size: 20px;
}

.bottomLeftBottom{
display:flex;
flex-direction: column;
flex-grow: 1;
}

.numberRow{
    display: flex;
    flex-grow: 1;
}

.numberButton{
    flex-grow: 1;
    margin:1px;
    font-size: large;
    color:white;
   background-color: hsla(276, 63%, 16%, 1);
   font-size: 45px;
}

.numberButton:hover{
    background-color: hsla(276, 63%, 36%, 1);
}

.bottomRight{
    display:flex;
    flex-direction: column;
}

.mathButton{
    
    flex-grow:1;
    margin:1px;
    text-align:center;
    font-size:30px;
    
    min-width: 25px;
}

#equals{
    background-color: hsla(0, 100%, 50%, 1);
}
#equals:hover{
    background-color: hsla(0, 85%, 50%, 1);;
}

.mathButton, .clearButton{
    background-color: hsla(19, 100%, 50%, 1);
}

.mathButton:hover, .clearButton:hover{
    background-color: hsla(25, 100%, 50%, 1);
}

.solveButton{
    display:flex;
    flex-grow: 2;
}